body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkslategrey;
    color: beige;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li{
    display: inline;
    margin-right: 15px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

footer{
    text-align: center;
    background-color: darkslategrey;
    color: aliceblue;

}